body {
    background-color: rgb(231, 240, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    gap: 5px;
    background-color: rgb(220, 192, 246);
    width: 30%;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    text-align: center;
}

button:hover{
    background-color: rgb(0, 174, 255);
}