body{
    background-color: rgba(0, 35, 6, 1);
    color: white;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cards{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: auto 1fr auto auto;
}

img{
    border: 10px solid rgba(29, 107, 103, 1);
    border-radius: 110px;
    box-shadow: 10px solid black;
}