body{
    background-color: rgba(0, 35, 6, 1);
    color: white;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cards{
    display: grid;
    grid-template-columns: 2fr;
}